.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.leftchild {
  display: flex;
  gap: 20px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  .leftchild {
    flex-direction: column;
  }
}


