.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  border-bottom: 1px solid #ddd;
  font-family: 'Inter', sans-serif;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.searchBar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6px;
  padding: 6px 10px;
  width: 300px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
}

.searchBar input {
  border: none;
  outline: none;
  margin-left: 8px;
  width: 100%;
  font-size: 14px;
  background: transparent;
}

.icons {
  display: flex;
  align-items: center;
  gap: 16px;
}


.addButton {
  display: flex;
  align-items: center;
  border: none;
  background-color: #3734a7;
  color: white;
  padding: 4.8px;
  border-radius: 4px;
  cursor: default;
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (max-width: 700px) {

   .userProfile span{
    display: none;
  }

}

@media only screen and (max-width: 600px) {
  .searchBar{
    display: none;
  }
  .addButton{
    padding: 4px;
  }
  .userProfile span{
    display: none;
  }
}
