.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  border-bottom: 1px solid var(--color-border);
  font-family: 'Inter', sans-serif;
  background-color: var(--color-surface);
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.searchBar {
  display: flex;
  align-items: center;
  background: var(--color-bg);
  border-radius: var(--radius-sm);
  padding: 6px 10px;
  width: 300px;
  box-shadow: var(--shadow-sm);
}

.searchBar input {
  border: none;
  outline: none;
  margin-left: 8px;
  width: 100%;
  font-size: var(--font-size-sm);
  background: transparent;
  color: var(--color-text);
}

.icons {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.addButton {
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--color-primary); 
  color:var(--color-surface);
  padding: var(--spacing-sm);
  border-radius: var(--radius-sm); 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color:  #4756df;
}



.userProfile {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-weight: 500;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {

  .userProfile span {
    display: none;
  }

    .logo {
    visibility: hidden;
  }

   .addButton {
    padding: 7px; 
  }
 
}

@media screen and (max-width: 480px) {
  .searchBar {
    display: none;
  }
  
  .addButton {
    padding: 4px; 
  }

  .userProfile span {
    display: none;
  }
}
