.cards {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md); /* 16px */
}

.statusIndicator {
  min-width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.title {
  font-weight: 600;
  font-size: var(--font-size-sm); 
  margin-bottom: var(--spacing-xs); 
  color: var(--color-text);
}

.status {
  font-size: 12px; 
  color: var(--color-muted);
}

.date {
  font-size: 12px; 
  color:var(--color-muted);
}

@media only screen and (max-width: 600px) {
  .cards {
    gap: var(--spacing-sm); 
  }

}
