/* Import Google Font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --radius: 12px;
  --color-bg: #f9fafb;
  --bg-color:#f6faff;
  --color-primary: #3bc14a;
  --color-danger: #ea5455;
  --color-text: #374151;
  --color-text: #222660;
  --shadow-color: 0 4px 12px rgba(0, 0, 0, 0.08);
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



body {
  margin: 0;
  line-height: 1.5;
  scrollbar-color: #A3BFFA #E0E7FF;
  background: #000;
  color: var(--color-text);
}

p {
  margin: 0;
  font-weight: 500;
}



